{% extends 'layout.twig' %}

{% block body %}  
  
  <h1>Connexion</h1>  
  
  <form action="" method="POST" >
    <label for="tweet">Identifiant</label>
    <br>
    <input name='email' >
    <br><br>
    <label for="tweet">Mot de passe</label>
    <br>
    <input name='password'>
    <br><br>
    <button>Se connecter</button>
  </form>
  
  {% endblock %}